<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a>
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                        <li class="breadcrumb-item bcrumb-3">Courses</li>
                        <li class="breadcrumb-item bcrumb-3">{{Course.code}}</li>

                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="Course" class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card" style="height: 100%" style="margin-bottom: 30px">
                    <span routerLink="../.." style="margin-bottom: 20px;margin-left: 20px;margin-top: 8px;">
                        <mat-icon style="font-size: 55px; color: rgb(50, 76, 228) !important; cursor: pointer;">
                            reply
                        </mat-icon>
                    </span>
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between">
                            <div style="display: flex; align-items: center">
                                <mat-icon matListIcon>shopping_cart</mat-icon>
                                <h5 style="margin: 0">Course {{Course.code}}</h5>
                            </div>
                        </div>
                        <div style="margin: 20px 0;">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                        <div style="display: flex;">
                                            <mat-icon style="margin-right: 5px;" matListIcon>monetization_on</mat-icon> prix
                                        </div>

                                        <h5 style="margin: 0">{{Course.price}} DT</h5>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div style="display: flex;align-items: center;justify-content: space-between;">

                                        <div style="display: flex;">
                                            <mat-icon style="margin-right: 5px;" matListIcon>insert_invitation</mat-icon> date
                                        </div>

                                        <h5 style="margin: 0">{{Course.date | date: "EEE dd/LL":"fr" }}</h5>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                        <div style="display: flex;">
                                            <mat-icon style="margin-right: 5px;" matListIcon>person</mat-icon> personne
                                        </div>

                                        <h5 style="margin: 0">
                                            {{Course.clientID.first_name}}
                                        </h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h5>Articles</h5>
                            <div class="row" style="padding: 10px">
                                <div style="margin: 20px 0; text-align: center" *ngIf="!Course.articleList.length">
                                    Aucun article
                                </div>
                                <div class="row" *ngIf="course.articles.length">
                                    <div class="col" style="padding-bottom: 10px" *ngFor="let article of Course.articleList">
                                        <mat-card class="example-card" style="border: 3px solid rgb(0 0 0 / 12%)">
                                            <mat-card-header style="justify-content: space-between">
                                                <mat-card-title>{{article.name}}</mat-card-title>
                                                <mat-card-subtitle style="display: flex">
                                                    <mat-icon>monetization_on</mat-icon>
                                                    {{article.price*article.quantity}} DT</mat-card-subtitle>
                                                <img mat-card-md-image [src]="article.image" alt="article image" />
                                            </mat-card-header>
                                            <mat-card-content>
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                                            <mat-icon svgIcon="quantity"></mat-icon>
                                                            <h5 style="margin: 0">{{article.quantity}}</h5>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                                            <mat-icon svgIcon="thermometer"></mat-icon>
                                                            <h5 style="margin: 0">{{article.unity}}</h5>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                                            <mat-icon>monetization_on</mat-icon>
                                                            <h5 style="margin: 0">
                                                                {{article.price}}DT/{{article.unity}}
                                                            </h5>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>