.modal-body {
    width: 500px;
    height: 700px;
}


.underline{
    text-decoration: underline ;
    text-underline-position: under;
    text-underline-offset: 2px; 
    text-decoration-color: rgb(73, 66, 177);
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 3px;
}


.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  

  app-edit-perso-menu{
    visibility: hidden;
  }

.price_details{
  background-color: white; 
  border-radius: 7px; 
  width: 40%;
  margin-top: 1px;
  margin-left: 5px;
  padding: 10px;
}

.tarif_details{
   color:rgb(43, 43, 43)
}

/* Mobile xs */ 
@media (max-width: 420px) {

  .materialTableHeader {
    padding:  10px  5px;
   
    align-items: center;
    border-color: #e6e9ed;
    background-color: #ebebee;
    height: 70px;
    min-width: 800px;
}


.m-r-20 {
  margin-right: 10px !important;
}

.m-l-20 {
 margin-left: 0px !important; 
}


.price_details{
  background-color: white; 
  border-radius: 7px; 
  width: 100%;
  margin-top: 1px;
  margin-left: 5px;
  padding: 10px;
}



}
  









  /* Mobile & Tablet Rules */
@media (max-width: 767px) { 

  .btn-mobile mat-icon {
     
       margin-right: 30px !important;
       
    
     
  }

}

.disable{
  pointer-events:none;
  display: none;
}