
<!---
-->

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Menu</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            reservation
                        </li>
                        <li class="breadcrumb-item active">menu</li>
                    </ul>
                </div>
            </div>
        </div>

           <!--------------->
            <div style="display: flex;flex-direction:row; justify-content: space-between;">
                <div class="row">
                     <div style="display: flex;margin-left: 20px; align-self: center;">
                        <h1 style="font-size: 15px; color: rgb(75, 74, 77);cursor: pointer ;"
                          
                           [ngClass]="{'underline':isUnderline, '': false}"
                           (click)="changeStandardView()"
                           >Menu Standard
                       </h1>
             
             
                        <h1 style="font-size: 15px; color: rgb(75, 74, 77);
                          margin-bottom: 15px; margin-left: 35px; cursor: pointer;"
                          [ngClass]="{'underline':!isUnderline, '': false}"
                           (click)="assignComponent('cow')"
                          >Menu Personnalisé</h1>

                       </div>

                </div>
                <!--
                    <div style="margin-bottom:6px;margin-right:20px;">
                    <mat-icon style="color:#1c4587ff;font-size:40px; cursor: pointer;"    (click)="addNew()">add_circle</mat-icon>
                     12/10<button mat-raised-button  style="background-color:#1c4587ff ;color:white;"  (click)="addNew()">Réserver</button> 
                    
                </div>
                -->
                
                

            </div>
           
           <!--------------->

        <div>
             <ng-container *ngComponentOutlet="editPersoMenuComponent"></ng-container>
        </div>
         
       

        <div class="col-md-12 mb-5"  *ngIf="showview">
            <div class="tabbable-line">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                
                                        <div class="header-buttons-left" style="display: flex;flex-direction:row; justify-content: space-between;width: 90%;">
                                          
                                           <div class="dropdown m-l-20 m-r-20">
                                               <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                               <input style="cursor: pointer;" placeholder="Search" type="text" class="browser-default search-field" aria-label="Search box" (keyup)='search($event.target.value)'>
                                          
                                           </div>
                                          
                                           <div>
                                               <mat-icon style="color:#1c4587ff;font-size:40px; cursor: pointer;" (click)="addNew()"  >add_circle</mat-icon>
                                               
                                           </div>

                                       </div>

                                                    
                                   </div>
                                    <mat-table #table [dataSource]="this.TableSourceData" matSort class="mat-cell" >
                                        <!-- Checkbox Column -->

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="Client">
                                            <mat-header-cell *matHeaderCellDef>Client
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.clientID.first_name}} {{row.clientID.last_name}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="startDate">
                                            <mat-header-cell mat-header-cell *matHeaderCellDef>date prévue
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.start | date: 'dd/MM/yyyy' }}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="name">
                                            <mat-header-cell *matHeaderCellDef>Menu
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.menuID.name}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="RoomName">
                                            <mat-header-cell *matHeaderCellDef>Type de repas
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.typeRepas}}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="price">
                                            <mat-header-cell *matHeaderCellDef>Prix
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.price}} DT</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef>Status
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">{{row.status_reservation}}</mat-cell>
                                        </ng-container>
                                        <!-- actions -->
                                        <ng-container matColumnDef="Actions">
                                            <mat-header-cell class="pr-0" *matHeaderCellDef>Actions
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                                <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="openEditModal(row)">
                                              <mat-icon aria-label="Edit" class="col-white">edit
                                              </mat-icon>
                                            </button>
                                                <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="deleteSingleRow(row) ">
                                              <mat-icon aria-label="Delete" class="col-white">delete
                                              </mat-icon>
                                            </button>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns">
                                        </mat-header-row>
                                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
                                        </mat-row>
                                    </mat-table>
                                    <!-- <div class="no-results" [style.display]="this.TableSourceData?.length == 0 ? '' : 'none'">
                                        No results
                                    </div> -->
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          
    

    </div>
</section>






<!----Teplate to edit menu standard table-->
<ng-template #editModal mat-dialog-content let-modal class="modal">
   
        <form class="register-form m-4" [formGroup]="this.reservationMenuEditForm" (ngSubmit)="submit">
            <div class="row">
                
                <div class="col">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Nom</mat-label>
                        <input matInput formControlName="first_name">
                        <mat-icon matSuffix>face</mat-icon>

                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Prenom</mat-label>
                        <input matInput formControlName="last_name" required>
                        <mat-icon matSuffix>face</mat-icon>

                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width mb-1" appearance="outline">
                        <mat-label>Numéro de téléphone</mat-label>
                        <input matInput formControlName="number_phone">
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>



                <div class="col">
                    <mat-form-field class="example-full-width mb-1" appearance="outline">
                        <mat-label>Menu</mat-label>
                        <mat-select formControlName="menuID" (selectionChange)="showMenu($event)">
                            <mat-option *ngFor="let menu of this.Menus" [value]="menu.name">
                                {{menu.name}} : {{menu.price}} Dt
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
            <div class="row">
               
                <div class="col">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>nombre de personnes</mat-label>
                        <input matInput formControlName="number_guests" type="number" [min]="1" (change)="re_calculTotal($event)">
                        <mat-icon matSuffix>group</mat-icon>
                    </mat-form-field>
                </div>

            
                <div class="col">
                    <mat-form-field class="example-full-width mb-1" appearance="outline">
                        <mat-label>date prevue</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="startDate" [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
    
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width mb-1" appearance="outline">
                        <mat-label>l'heure</mat-label>
                        <input matInput formControlName="number_heure" type="time" >
                        
                    </mat-form-field>
                </div>
               
                <div class="col">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option [value]="'COMMANDE'">
                                Commandé
                            </mat-option>

                            <mat-option [value]="'LIVRE'">
                                Livré
                            </mat-option>
                            <mat-option [value]="'PAYE'">
                                Payé
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>


            </div>

            <div class="row " *ngIf="showMenuDetails">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body bg-gray text-white text-capitalize">
                            <div class="col-md-12 m-2">
                                Entrée : {{ entree}}
                            </div>
                            <div class="col-md-12 m-2">
                                Suite : {{suite}}
                            </div>
                            <div class="col-md-12 m-2">
                                Dessert : {{dessert}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          
               
            
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                    <mat-form-field class="example-full-width mb-1" appearance="outline">
                        <mat-label>Type de repas</mat-label>
                        <mat-select formControlName="entreSta" (selectionChange)="showMenuStandard($event)">
                            <mat-option *ngFor="let menu of this.RepasStandardTypeList" [value]="menu">
                                {{menu}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="font-size: 8px"  >
                    <mat-form-field class="example-full-width"  appearance="outline">
                        <mat-label style="font-size: 12px;">Commentaire</mat-label>
                        <textarea matInput formControlName="comment"></textarea>
                    </mat-form-field>
               </div>

            </div>
            <div style="display: flex; flex-direction:row; justify-content:end;">
                <div>
                    <button mat-icon-button color="warn" (click)="removeFromTotal('Soda')" [disabled]="this.sodaPrice === 0">
                        <mat-icon>remove</mat-icon>
                      </button> Soda  
                    <button mat-icon-button color="primary" (click)="addToTotal('Soda')" [disabled]="this.MenuPrice === 0">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button color="warn" (click)="removeFromTotal('Eau')" [disabled]="this.EauPrice === 0">
                        <mat-icon>remove</mat-icon>
                      </button> Eau
                    <button mat-icon-button color="primary" (click)="addToTotal('Eau')" [disabled]="this.MenuPrice === 0">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body bg-gray text-white text-capitalize">
                            <div class="row">
                                <div class="col-md-12" *ngIf="this.MenuPrice !== 0">
                                    <p>prix Menu : {{this.MenuPrice}} * {{this.number_geuste}}</p>
                                </div>
                                <div *ngIf="this.EauPrice !== 0" class="col-md-12">
                                    <p>Eau :{{this.EauPrice }} Dt              Eau: {{eau}}</p>
                                </div>
                                <div *ngIf="this.sodaPrice !== 0" class="col-md-12">
                                    <p>Soda : {{this.sodaPrice }} Dt          Soda: {{soda}}</p>
                                </div>
                                <div class="col-md-12">
                                    <p>Prix total : {{this.PriceTotal}} Dt </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="display: flex; flex-direction:row; justify-content:end;">
                    <div>
                        <!--[disabled]="!reservationMenuEditForm.valid"-->
                        <button mat-raised-button color="warn" tabindex="-1" (click)="closeModal()">Annuler</button>
                        <button style="margin-left:10px"    mat-raised-button color="primary" [type]="submit"  (click)="updateReservation()">Confirmer</button>

                    </div>
                </div>
            </div>
        </form>
    
</ng-template>
<!-----End Teplate to edit menu standard table------>


