.coursesHeader {
    display: flex;
    justify-content: space-between;
}

.courseItem {
    background-color: #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
    color: rgb(0, 255, 42) !important;
}