<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a>
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                        <li class="breadcrumb-item bcrumb-3">Courses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card" style="height: 100%">
                    <div class="card-body">
                        <div class="coursesHeader">
                            <h3>Liste des courses</h3>
                            <div>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" style="margin-right: 10px" (click)="showFiltersHandler()">
                                  <mat-icon>filter_list</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" routerLink="add" aria-label="Example icon button with a menu icon">
                                  <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                        <!---filter -->
                        <div class="cal" style="display: flex;justify-content: space-between;margin-top: 20px;" *ngIf="showFilters">
                            <form [formGroup]="coursesFilterForm">
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="mb-3" appearance="outline">
                                            <mat-label>De</mat-label>
                                            <input matInput formControlName="from" [matDatepicker]="picker1" />
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-error *ngIf="coursesFilterForm.get('from').hasError('matDatepickerParse')">
                                                La date de début est <strong>invalide</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="mb-3" appearance="outline">
                                            <mat-label>À</mat-label>
                                            <input matInput formControlName="to" [matDatepicker]="picker2" />
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                            <mat-error *ngIf="coursesFilterForm.get('to').hasError('matDatepickerParse')">
                                                La date de fin est <strong>invalide</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="mb-3" appearance="outline">
                                            <mat-label>Prix</mat-label>
                                            <input matInput formControlName="price" type="text" [value]="" />
                                            <mat-icon matSuffix>monetization_on</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="mb-3" appearance="outline">
                                            <mat-label>Personne</mat-label>
                                            <input matInput formControlName="person" type="text" [value]="" />
                                            <mat-icon matSuffix>person</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div *ngFor="let course of courses | keyvalue" style="display: flex; flex-direction: column">
                            <h6>{{ course.key }}</h6>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let item of course.value" style="margin-bottom: 10px">
                                <mat-card class="courseItem">
                                    <div style="display: flex; align-items: center">
                                        <mat-icon matListIcon>shopping_cart</mat-icon>
                                        <h5 style="margin: 0">Course {{ item.code }}</h5>
                                    </div>
                                    <div>
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon>person</mat-icon>
                                            <h5 style="margin: 0">{{ item.person }}</h5>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon>insert_invitation</mat-icon>
                                            <h5 style="margin: 0">
                                                {{ item.date | date: "EEE, dd/LL":"fr" }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div style="display: flex; align-items: center">
                                        <mat-icon matListIcon *ngIf="typeExist(item.types, 'room')">hotel</mat-icon>
                                        <mat-icon matListIcon *ngIf="typeExist(item.types, 'food')">local_dining</mat-icon>
                                    </div>
                                    <div style="display: flex; align-items: center">
                                        <mat-icon matListIcon>monetization_on</mat-icon>
                                        <h5 style="margin: 0">{{ item.price }} dt</h5>
                                    </div>
                                    <div style="display: flex; align-items: center">
                                        <button mat-icon-button color="accent" class="btn-tbl-edit">
                                           <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                        </button>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>