.coursesHeader {
    display: flex;
    justify-content: space-between;
}

.courseItem {
    background-color: #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* Mobile & Tablet Rules */

@media (max-width: 767px) {
    h5 {
        font-size: 10px !important;
    }
    mat-icon {
        font-size: 18px !important;
    }
    .options {
        display: flex !important;
        align-items: center !important;
        padding-left: 8px !important;
        width: 80px !important;
        margin-left: 10px !important;
    }
}

$color-outline: rgb(183, 182, 185);
mat-form-field {
    // to change border color
     ::ng-deep .mat-form-field-outline {
        color: $color-outline !important;
    }
    // to change label color
     ::ng-deep .mat-form-field-label {
        color: $color-outline !important;
    }
}


/* /////////// start custom pagination ///////// */

.disable {
    pointer-events: none;
}


/* /////////// end custom pagination ///////// */

.btn-group button {
    cursor: pointer;
    /* Float the buttons side by side */
    width: 20px;
    font-size: 9px !important;
    height: 70px !important;
}

.options {
    display: flex;
    width: 100px;
    justify-content: space-between;
}