<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a>
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                        <li class="breadcrumb-item bcrumb-3">Courses</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card" style="height: 100%">
                    <div class="card-body">
                        <div class="coursesHeader">
                            <h3>Liste des courses</h3>
                            <div>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" style="margin-right: 10px" (click)="showFiltersHandler()">
                                  <mat-icon>filter_list</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" routerLink="add" aria-label="Example icon button with a menu icon">
                                  <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                        <!---filter -->
                        <div class="col" style="display: flex;justify-content: space-between;margin-top: 20px;" *ngIf="showFilters">
                            <form [formGroup]="coursesFilterForm">
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="font-size: 11px;">
                                            <mat-form-field style="width:50%" class="mb-3" appearance="outline">
                                                <mat-label>De</mat-label>
                                                <input matInput formControlName="from" [matDatepicker]="picker1" (dateChange)="checkFromDate($event.target.value)" />
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                                <!--<mat-error *ngIf="coursesFilterForm.get('from').hasError('matDatepickerParse')">
                                                    La date de début est <strong>invalide</strong>
                                                </mat-error>-->
                                            </mat-form-field>
                                            <mat-form-field style="width:50%" class="mb-3" appearance="outline">
                                                <mat-label>À</mat-label>
                                                <input matInput formControlName="to" [matDatepicker]="picker2" (dateChange)="checkToDate($event.target.value)" />
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                                <!--<mat-error *ngIf="coursesFilterForm.get('to').hasError('matDatepickerParse')">
                                                    La date de fin est <strong>invalide</strong>
                                                </mat-error>-->
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="col" style="font-size: 11px;">
                                        <div class="row">
                                            <mat-form-field style="width:50%" class="mb-3" appearance="outline">
                                                <mat-label>Prix min</mat-label>
                                                <input matInput formControlName="priceMin" type="text" [value]="" />
                                                <mat-icon matSuffix>monetization_on</mat-icon>
                                            </mat-form-field>
                                            <mat-form-field style="width:50%" class="mb-3" appearance="outline">
                                                <mat-label>Prix max</mat-label>
                                                <input matInput formControlName="priceMax" type="text" [value]="" />
                                                <mat-icon matSuffix>monetization_on</mat-icon>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div class="col" style="font-size: 11px;">
                                        <div class="row">
                                            <mat-form-field style="width:50%" class="mb-3" appearance="outline">
                                                <mat-label>Personne</mat-label>
                                                <input matInput formControlName="person" type="text" [value]="" />
                                                <mat-icon matSuffix>person</mat-icon>
                                            </mat-form-field>
                                            <button class="mb-3" style="width:140px;height:40px;margin-top:4px;;display: inline-block;" mat-raised-button color="primary" (click)="deepFilter()">
                                                <mat-icon>done</mat-icon>
                                                Chercher
                                            </button>
                                        </div>

                                    </div>

                                </div>



                            </form>

                        </div>
                        <!--<div class="mt-4">
                            <span style="display:flex;justify-content:flex-end;margin-top: 10px; margin-bottom: 15px;margin-right:25px;cursor: pointer;" *ngIf="filteredActive" (click)="initCourseList()">
                                <mat-icon style="color:red;font-size:30px;">remove_circle_outline</mat-icon> </span>
                            <div *ngFor="let course of ListCourses | paginate: config" style="display: flex; flex-direction: column;">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px;cursor:pointer" (click)="selectedItem(course._id)">

                                    <mat-card class="courseItem">
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon>shopping_cart</mat-icon>
                                            <h5 style="margin: 0">Course {{ course.code }}</h5>
                                        </div>
                                        <div>
                                            <div style="display: flex; align-items: center">
                                                <mat-icon matListIcon>person</mat-icon>
                                                <h5 style="margin: 0">{{ course.person }}</h5>
                                            </div>
                                            <div style="display: flex; align-items: center">
                                                <mat-icon matListIcon>insert_invitation</mat-icon>
                                                <h5 style="margin: 0">
                                                    {{ course.date | date: "EEE, dd/LL":"fr" }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon *ngIf="typeExist(course.types, 'room')">hotel</mat-icon>
                                            <mat-icon matListIcon *ngIf="typeExist(course.types, 'food')">local_dining</mat-icon>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon>monetization_on</mat-icon>
                                            <h5 style="margin: 0">{{ course.price }} dt</h5>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <button mat-icon-button color="accent" class="btn-tbl-edit" [routerLink]="['edit',course._id]">
                                              <mat-icon aria-label="Edit" class="col-white"
                                                >edit
                                              </mat-icon>
                                            </button>
                                            <button mat-icon-button color="accent" class="btn-tbl-edit" [routerLink]="['show', course._id]">
                                              <mat-icon class="col-white"
                                                >visibility
                                              </mat-icon>
                                            </button>
                                        </div>
                                    </mat-card>
                                </div>

                            </div>
                             previousLabel="" nextLabel="" (pageChange)="page = $event"
                            <pagination-controls class="text-center" (pageChange)="page = $event" *ngIf="ListCourses" previousLabel="précédente" nextLabel="suivant"></pagination-controls>
                        

                            <pagination-template class="text-center" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                                <div class="custom-pagination">
                                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">

                                        <span (click)="p.previous()" style="background-color: #3f51b5;font-size:40px;padding-right:10px;padding-left:10px; color:white; border-radius:1px;">
                                            <
                                        </span>
                                    </div>
                                    <div class="page-number" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                        <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">{{ page.label }}</span
                                            >
                                            <div *ngIf="p.getCurrent() === page.value">
                                                <span>{{ page.label }}</span>
                                    </div>
                                </div>

                                    <div class="pagination-next" [ngClass]="{'disable': p.isLastPage()}">
                                        <span (click)="p.next()" style="background-color:#3f51b5;font-size:40px;padding-right:10px;padding-left:10px;margin:60px;color:white;border-radius:1px;">
                                                    >
                                        </span>
                                    </div>
                                </div>
                            </pagination-template>
                        </div>-->



                        <div class="mt-4">
                            <!--<div style="display: flex; justify-content: flex-end;margin-bottom: 8px;">

                                <button *ngIf="showFiltred" mat-stroked-button color="white" (click)="showFilter()">
                                    <mat-icon style="font-size: 20px;color: rgb(90, 86, 86);">calendar_today</mat-icon>
                                     Mois 
                                    <mat-icon    style="font-size: 20px;color: rgb(131, 210, 255);margin-left: 8px;">keyboard_arrow_left</mat-icon>
                                </button>

                                <mat-icon (click)="closeFilter()" *ngIf="canselFiltred" style="color:red;font-size:40px; margin-right: 20px;cursor: pointer;">remove_circle_outline</mat-icon>

                                <div style="display: flex;flex-wrap: wrap;" *ngIf="filtred">
                                    <div *ngFor="let month of monthItem">
                                        <button mat-raised-button style="height:37px;display: inline-block;" color="primary" class="m-1" (click)="searshMonth(month)"><p style="font-size: 12px;">{{month.name}}</p></button>

                                    </div>

                                </div>
                            </div>-->

                            <span style="display:flex;justify-content:flex-end;margin-top: 10px; margin-bottom: 15px;margin-right:25px;cursor: pointer;" *ngIf="filteredActive" (click)="initCourseList()">
                                <mat-icon style="color:red;font-size:30px;">remove_circle_outline</mat-icon> </span>
                            <div *ngFor="let course of ListCourses | paginate: config" style="display: flex; flex-direction: column;">

                                <div style="display: flex; justify-content: space-between;"><span style="margin-right: 30px;margin-top: 5px;">{{ labelMonth(course._id.month )}}  {{course._id.year}}  </span>
                                    <div [routerLink]="['detail',course._id.month, course._id.year]" style="background-color: rgb(232, 250, 250);padding: 6px;border-radius:10px;margin-bottom: 3px;cursor: pointer; margin-top: 5px;">Voir tout</div>
                                </div>
                                <div *ngFor="let c of course.transactions | paginate: { itemsPerPage: 3, currentPage: p }" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px;cursor:pointer" (click)="selectedItem(course._id)">

                                    <mat-card class="courseItem">
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon>shopping_cart</mat-icon>
                                            <h5 style="margin: 0">Course {{ c.code }}</h5>
                                        </div>
                                        <div>
                                            <div style="display: flex; align-items: center">
                                                <mat-icon matListIcon>person</mat-icon>
                                                <h5 style="margin: 0">{{ c.person }}</h5>
                                            </div>
                                            <div style="display: flex; align-items: center">
                                                <mat-icon matListIcon>insert_invitation</mat-icon>
                                                <h5 style="margin: 0">
                                                    {{ c.date | date: "EEE, dd/LL":"fr" }}
                                                </h5>
                                            </div>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon *ngIf="typeExist(c.types, 'room')">hotel</mat-icon>
                                            <mat-icon matListIcon *ngIf="typeExist(c.types, 'food')">local_dining</mat-icon>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <mat-icon matListIcon>monetization_on</mat-icon>
                                            <h5 style="margin: 0">{{ c.price }} dt</h5>
                                        </div>
                                        <div style="display: flex; align-items: center">
                                            <button mat-icon-button color="accent" class="btn-tbl-edit" [routerLink]="['edit',c._id]">
                                              <mat-icon aria-label="Edit" class="col-white"
                                                >edit
                                              </mat-icon>
                                            </button>
                                            <button mat-icon-button color="accent" class="btn-tbl-edit" [routerLink]="['show', c._id]">
                                              <mat-icon class="col-white"
                                                >visibility
                                              </mat-icon>
                                            </button>
                                        </div>
                                    </mat-card>

                                </div>

                            </div>
                            <!--previousLabel="" nextLabel=""  (pageChange)="page = $event"  
                                <pagination-controls class="text-center" (pageChange)="page = $event" *ngIf="ListCourses" previousLabel="précédente" nextLabel="suivant"></pagination-controls>
                            -->

                            <pagination-template class="text-center" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event">
                                <div class="custom-pagination">
                                    <div class="pagination-previous" [class.disabled]="p.isFirstPage()">

                                        <span (click)="p.previous()" style="background-color: #3f51b5;font-size:40px;padding-right:10px;padding-left:10px; color:white; border-radius:1px;">
                                            <
                                        </span>
                                    </div>
                                    <!--<div
                                            class="page-number"
                                            *ngFor="let page of p.pages"
                                            [class.current]="p.getCurrent() === page.value"
                                            >
                                            <span
                                                (click)="p.setCurrent(page.value)"
                                                *ngIf="p.getCurrent() !== page.value"
                                                >{{ page.label }}</span
                                            >
                                            <div *ngIf="p.getCurrent() === page.value">
                                                <span>{{ page.label }}</span>
                                            </div>
                                            </div>-->

                                    <div class="pagination-next" [ngClass]="{'disable': p.isLastPage()}">
                                        <span (click)="p.next()" style="background-color:#3f51b5;font-size:40px;padding-right:10px;padding-left:10px;margin:60px;color:white;border-radius:1px;">
                                                    >
                                        </span>
                                    </div>
                                </div>
                            </pagination-template>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>