<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-124 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Calendar</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/reservation/calendrier">
                                Calendar</a>
                        </li>
                        <li class="breadcrumb-item active">Reserver</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row flex ">
                            <form  [formGroup]="reservationChambreForm" >
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Nom</mat-label>
                                            <input matInput formControlName="first_name" required>
                                            <mat-icon matSuffix>face</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Prénom</mat-label>
                                            <input matInput formControlName="last_name" required>
                                            <mat-icon matSuffix>face</mat-icon>
                                        </mat-form-field>
                                    </div>

                                     <div class="col">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Date d’arrivée</mat-label>
                                            <input matInput    [matDatepicker]="picker"   name="date" [formControl]="date"      required (dateChange)="checkDates($event)" [max]="this.maxDate" [min]="this.todayDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Date de départ</mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="endDate" required [min]="this.minDate" (dateChange)="calculDateDays($event)">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="col">
                                        <mat-form-field   class="example-full-width" appearance="outline">
                                            <mat-label>Chambre</mat-label>
                                            <mat-select formControlName="roomID" required>
                                                <mat-option *ngFor="let chambre of this.Chambres"   [value]=chambre.name>
                                                    {{chambre.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                                            <mat-label>Numéro de téléphone</mat-label>
                                            <input matInput formControlName="number_phone" name="number_phone" type="number" [min]="8"  required>
                                
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                                            <mat-label>Nombre d’adulte</mat-label>
                                            <input matInput formControlName="number_children" type="number" [min]="1" (change)="re_calculTotal($event)">
                                            <mat-icon matSuffix>group</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col">
                                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                                            <mat-label>Nombre d’enfant</mat-label>
                                            <input matInput formControlName="number_adulte" type="number" [min]="1" (change)="re_calculTotal($event)">
                                            <mat-icon matSuffix>group</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Tarifs</mat-label>
                                            <mat-select formControlName="taarifType" required (selectionChange)="selectTaarifType($event)"   (selectionChange)="showMenu($event)"      >
                                                <mat-option [value]="'bas de saison'">
                                                    Bas de saison
                                                </mat-option>
                                                <mat-option [value]="'haut de saison'">
                                                    Haut de saison
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3 col-sm-12 text-center mt-3">
                                        <mat-radio-group formControlName="roomType" color="primary">
                                            <mat-radio-button value="single" (change)="selectRoomType($event)">Single</mat-radio-button>
                                            <mat-radio-button value="double" (change)="selectRoomType($event)">Double</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col" id="my_div">
                                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                                            <mat-label>Extras</mat-label>
                                            <mat-select formControlName="extra" (selectionChange)="selectExtraType($event)"   >
                                                <mat-option [value]="">
                                                </mat-option>
                                                <mat-option [value]="'lit adulte'">
                                                    Lit adulte
                                                </mat-option>
                                                <mat-option [value]="'lit enfant'">
                                                    Lit enfant
                                                </mat-option>
                                                <mat-option [value]="'Deux lit adulte'">
                                                    Deux lit adulte
                                                </mat-option>
                                                <mat-option [value]="'Deux lit enfant'">
                                                    Deux lit enfant
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div  style="border-width: 5px solid; background-color: rgb(202, 230, 255);
                                                 border-radius: 5px; "   class="row d-flex justify-content-between align-items-center m-1 text-capitalize"
                                      *ngIf="showMenuDetails" >
                                       
                                        <div class="col-6 mb-4 mt-2">
                                            tarif: {{taarifType}}
                                        </div>
                                        <div class="col-6 mb-4">
                                            type: {{roomType}}
                                        </div>
                                        <div class="col-6 mb-2">
                                            extras: {{extraType}}
                                        </div>
                                        <div class="col-6 ">
                                            prix: {{ priceTotal }} DT
                                        </div>
                                </div> 
                                <div class="row mt-3"  *ngIf="showMenuDetails">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body bg-gray text-white text-capitalize">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>prix chambre : {{this.RoomPrice}}</p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <p>nuits : {{this.Days}} </p>
                                                    </div>
                                                   <!--
                                                       <div class="col-md-12">
                                                        <p>Total : {{this.priceTotal}} DT</p>
                                                       </div>
                                                   --> 
                                                    <div  class="remise">
                                                        <!--<button mat-icon-button color="warn" (click)="removeFromTotal()" [disabled]="this.sodaPrice === 0">
                                                            <mat-icon>remove</mat-icon>
                                                          </button> 
                                                            <div style="display: flex; margin-top: 10px;">
                                                              <p style="color: rgb(49, 49, 49);">Total : </p> 
                                                              <p style="color: rgb(49, 49, 49); margin-left: 2px;"> {{this.priceTotal}} DT</p>
                                                            </div>
                                                             
                                                        <button mat-icon-button color="primary" (click)="addToTotal()">
                                                            <mat-icon>add</mat-icon>
                                                        </button>-->
                                                        <div style="display: flex; margin-top: 10px;">
                                                            <p style="color: rgb(49, 49, 49);">Total : </p> 
                                                            <p style="color: rgb(49, 49, 49); margin-left: 2px;"> {{this.priceTotal}} DT</p>
                                                          </div>
                                                          <form>
                                                              <mat-form-field class="example-full-width mb-3" appearance="outline">
                                                                <mat-label>Total avec remise</mat-label>
                                                                <input matInput [(ngModel)]="this.remisePrice" name="remise" type="number">
                                                
                                                             </mat-form-field>

                                                          </form>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <div class="row mt-3">
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Commentaire</mat-label>
                                            <textarea matInput formControlName="comment"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>Réclamation </mat-label>
                                            <textarea matInput formControlName="remarque"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>



                               
                                 <div style="display: flex; flex-direction:row; justify-content:end;">
                                     <div>
                                            <button mat-raised-button color="warn" routerLink="/reservation/calendrier"  >Annuler</button>
                                            <button  style="margin-left:10px" mat-raised-button color="primary" (click)="addNewReservation()"  >Confirmer</button>
                                            
                                  
                                     </div>
                                </div>
                           
                                
                                

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



