#e1{
    background-color: #6D363A;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
  
    margin-bottom: 2px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
  
    }

    #e2{
    background-color: #B88E8F;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }
    
    #e3{
    background-color: #415F62;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }
    
    #e4{
    background-color: #7D4F52;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }
    
    #e5{
    background-color: #B88E8F;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }
    #e6{
    background-color: #9B6F71;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }
    #e7{
    background-color: #D57C7D;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }
    #e8{
    background-color: #628F93;
    display:inline-block;
    width: 90px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-family: 'HelveticaNeue';
    padding: 5px;
    }

    .min-calendar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;      
    }


.dispo{
position:absolute;
right: 15px;
top:70px      
}

.fc.fc-button-primary {
color: var(--fc-button-text-color,#fff) !important;
background-color: #1c4587ff !important;
border-color: var(--fc-button-border-color,#1c4587ff) !important;
}

#dispo{
    color: #b366ff; 
    margin-left: 58px; 
    }
    #occup{
    color: rgb(235, 12, 12);
    margin-left: 38px;
    }
    #Reserv{
    color: rgb(243, 247, 35);
    margin-left: 37px;
    }
    #Ferm{
    color: rgb(182, 182, 182);
    margin-left: 48px;
    }
    p {
        font-family: Lato;
      }

/*
.card {
background-color: #fff;
border-radius: 10px;
position: relative;
margin-bottom: 30px;
border: 1px solid #deebfd;
box-shadow: -8px 12px 18px 0 #dadee8;


}*/

.fullscreen-dialog {
    position: fixed;
  }

  .custom-dialog-container .mat-dialog-container {
    width: '1200px';
    height:'600px';
}

.fc-toolbar { text-transform: capitalize; }