<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Calendar</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#" onClick="return false;">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                       
                        <div class="row d-flex justify-content-between align-content-center">
                            
                            <form class="min-calendar" [formGroup]="cal">
                                
                                <div>
                                    <mat-icon style="color:#1c4587ff;font-size:40px; cursor: pointer;"    (click)="gotoReservation()">add_circle</mat-icon>
                                    
                                   <!-- <button  id="updateHeader" (click)="gotoReservation()"    mat-flat-button style="background-color:#1c4587ff;color:white">Réserver</button>  --> 
                                </div>
                                <div class="cercle">
                                    <mat-icon style="color:white;font-size:29px; cursor: pointer;margin-left: 2px;margin-top: 2px;"    (click)="Reload()">replay</mat-icon>

                                </div>

                                <div style="font-size: 8px; margin-left:'31.5%';">
                                     <mat-form-field  style="margin-right: 20px;"  appearance="outline">
                                        <input formControlName="date1" matInput placeholder="A partir de" required [matDatepicker]="picker1">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker ngDefaultControl #picker1 color="primary"></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <input formControlName="date2" matInput placeholder="Jusqu'a" required [matDatepicker]="picker2">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker ngDefaultControl #picker2 color="primary"></mat-datepicker>
                                    </mat-form-field>
                                                   <!--
                                                        <mat-icon style="transform: rotate(90deg); margin-left: 20px;
                                                         background-color: rgb(235, 235, 235);
                                                         padding-right: 25px; border-radius: 7px;border-width: 10px solid;
                                                         color:rgb(56, 63, 158); font-size: 26px;
                                                        align-self: center; cursor: pointer;">search</mat-icon>
                                                   -->
                                                   
                                   
                                </div>
                                <div>
                                    <button style="background-color: #1c4587ff;margin-top: 3px;height: 34px;"  mat-button (click)="searchDateRange()">
                                       <mat-icon style="color:white">search</mat-icon>
                                 
                                    </button>
                         
                                </div>
                               
                            </form>
                        </div>
                         <div>
                               <button class="fc fc-button-primary dispo" mat-button [matMenuTriggerFor]="aboveMenu">Filtre</button>
                                    <mat-menu #aboveMenu="matMenu" yPosition="above">
                                    
                                    <button (click)="setColorEvents('red')"      mat-menu-item class="disp">
                                        <span>Occupé</span>
                                        <mat-icon id="occup">brightness_1</mat-icon>
                                    </button>
                                    <button (click)="setColorEvents('yellow')" mat-menu-item class="disp">
                                        <span >Réservé</span>
                                        <mat-icon id="Reserv">brightness_1</mat-icon>
                                    </button>
                                    <button  (click)="setColorEvents('gray')"   mat-menu-item class="disp">
                                        <span>Fermé</span>
                                        <mat-icon id="Ferm">brightness_1</mat-icon>
                                    </button>
                                    <button (click)="setColorEvents('all')"  mat-menu-item class="disp">
                                        <span>Tous</span>
                                        <mat-icon id="dispo">brightness_1</mat-icon>
                                    </button>
                                    </mat-menu>
                         </div>
                      
                        
                        <div class="row">
                            <div class="col-md-2 col-sm-12 p-l-30 col-lg-2">
                                <div class="filter-container">
                                    <!-- <ul>
                                        <li>
                                            <mat-checkbox [checked]="this.toutLesChambre" color="primary" (change)="reset($event)">
                                                Tout les chambres
                                            </mat-checkbox>
                                        </li>
                                    </ul> -->
                                    <!-- <div class="col pt-3">
                                        <div *ngFor="let room of roomsList" class="m-t-10">
                                            <input type="checkbox" [value]="room.name" (change)="changeCategory($event)">
                                            <button class="btn btn-primary" [color]="room.color" style="width : 100px">{{room.name}}</button>
                                        </div>
                                    </div> -->


                                        <ul style="margin-top: 5px;height: 100vh; width: 0px;" >
                                          <!--
                                              <li *ngFor="let room of roomsList">
                                            <mat-checkbox [checked]="room.checked" [value]="room.name" color="primary" (change)="changeCategory($event, room)">
                                                {{room.name}}
                                            </mat-checkbox>
                                        </li>
                                          -->

                                          <li>
                                             <div>
                                                <button    [ngClass]="{'Bouton':isClicked, '': false}"     class="ruppia"  (click)="getRuppiaRooms($event)"   mat-flat-button    >
                                                    Ruppia
                                                </button>
                                            
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked2, '': false}"     class="ciconia"  (click)="getCiconiaRooms($event)"   mat-flat-button    >
                                                    Ciconia
                                                </button>
    
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked3, '': false}"     class="amorpha"  (click)="getAmorphaRooms($event)"   mat-flat-button    >
                                                    Amorpha
                                                </button>
                                                
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked4, '': false}"     class="marabou"  (click)="getMarabouRooms($event)"   mat-flat-button    >
                                                    Marabou
                                                </button>
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked5, '': false}"     class="brecon"  (click)="getBreconRooms($event)"   mat-flat-button    >
                                                    Brecon
                                                </button>
                                                
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked6, '': false}"     class="colony"  (click)="getColonyRooms($event)"   mat-flat-button    >
                                                    Colony
                                                </button>
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked7, '': false}"     class="cicogne"  (click)="getCicogneRooms($event)"   mat-flat-button    >
                                                    Cicogne
                                                </button>
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked8, '': false}"     class="bonnelli"  (click)="getBonnelliRooms($event)"   mat-flat-button    >
                                                    Bonnelli
                                                </button>
                                                
                                            </div>
                                            <div>
                                                <button    [ngClass]="{'Bouton':isClicked9, '': false}"     class="villa"  (click)="getVillaRooms($event)"   mat-flat-button    >
                                                    Villa
                                                </button>
                                                
                                            </div>
                                          </li>
                                        
                                       </ul>
                                </div>
                            </div>

                            <div class="col-10" style="padding:8px;">
                                <full-calendar 
                                #calendar
                                [options]="calendarOptions"
                                 >
                                 </full-calendar>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



