<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <!--href="#" onClick="return false;"-->
                            <a>
                               Stock
                            </a>

                        </li>
                        <li class="breadcrumb-item bcrumb-3">
                            <a style=" cursor: pointer;" (click)="gotoAllDepotComponent()">
                               Gestion de stock
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-3">

                            <span style="color: rgb(31, 29, 29) !important;font-size: 14px;">Toutes les articles</span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="sticky">
                            <span (click)="gotoPreviousPage()">
                                <mat-icon style="font-size: 55px; color: rgb(50, 76, 228) !important; cursor: pointer;">
                                    reply
                                </mat-icon>
                            </span>
                            <div class="text-center">
                                <h1 style="font-weight: bold;font-family: open sans,sans-serif;font-size: 30px;">Tous les articles</h1>
                            </div>
                        </div>


                        <div class="row mt-2">


                            <div class="row">

                                <div *ngFor="let catego of  CategorieArticles">

                                    <div *ngFor="let family of  catego.listFamily">
                                        <div *ngFor="let type of  family.listType">
                                            <div *ngIf="type.listArticle.length != 0">
                                                <ul class="breadcrumb">
                                                    <li><a style="cursor: pointer;" (click)="gotoDepotComponent()">{{this.DepotName}}</a></li>
                                                    <li><a style="cursor: pointer;" (click)="gotoCategorieComponent(catego.name)">{{catego.name}}</a></li>
                                                    <li><a style="cursor: pointer;" (click)="gotoFamilyComponent(family.name)">{{family.name}}</a></li>
                                                    <!--<li><a style="cursor: pointer;" (click)="gotoTypeComponent(type.name,family.name)">{{type.name}}</a></li>-->
                                                    <li><a style="color: black !important;">{{type.name}}</a></li>
                                                </ul>

                                                <div class="visible">

                                                    <div [routerLink]="['show', article._id]" *ngFor="let article of  type.listArticle" style="background-color:  rgb(229 230 233); cursor:pointer;" class="col-lg-12 d-flex  align-items-center justify-content-between mb-2  pt-3 p-2 mr-5 ml-5 rounded ">

                                                        <div style="display: flex;align-items: center;">
                                                            <img alt="image" style="margin-bottom: 7px;" src='{{ article.img }}' class="image" />
                                                            <p style="margin-left: 7px;">{{article.name}}</p>
                                                        </div>
                                                        <p>Marque : {{article.marque}}</p>
                                                        <span>
                                                            <mat-icon style="margin-left: 12px;">shopping_cart</mat-icon>
                                                           
                                                            <div style="display: flex;">
                                                                <span class="visible"   style="font-weight:normal;"> Quantite </span>
                                                        <p style="margin-left: 5px;font-weight: bold">{{article.quantity}} {{article.unity}}</p>
                                                    </div>
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="visible2">
                                                <div [routerLink]="['show', article._id]" *ngFor="let article of type.listArticle" style="margin-bottom: 10px;background-color:  rgb(229 230 233)">

                                                    <div class="boxDiv text-center">
                                                        <div style="width: 100%;">
                                                            <img alt="image" width="100%" height="80px" src='{{ article.img }}' class="img" />

                                                        </div>


                                                        <div style="display: flex;flex-direction: column;">
                                                            <span style="margin-bottom:7px;align-self: flex-center; font-size: 15px;margin-top: 10px;font-weight: bold">{{article.name}}</span>
                                                            <!--<span> <span style="font-weight:normal;" >Marque</span> : {{article.marque}}</span>
                                                                        <span> <span style="font-weight:normal;" >Quantity</span> : {{article.quantity}} {{article.unity}} </span>-->

                                                            <span style="font-weight:normal;margin-top: 3px;">Marque</span>
                                                            <span style="margin-left: 5px;font-weight: bold;">{{article.marque}}</span>
                                                            <span style="font-weight:normal;margin-top: 2px;"> Quantite </span>
                                                            <p style="margin-left: 5px;font-weight: bold">{{article.quantity}} {{article.unity}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>


                                    </div>

                                </div>



                            </div>
                        </div>



                    </div>











                </div>
            </div>
        </div>
    </div>
    </div>
</section>