<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>
                              Stock
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-3">
                            <span style="color: rgb(31, 29, 29) !important;font-size: 14px;">Gestion de stock</span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <div class="sticky">
                            <span (click)="gotoPreviousPage()">
                                <mat-icon style="font-size: 55px; color: rgb(50, 76, 228) !important; cursor: pointer;">
                                    reply
                                </mat-icon>
                            </span>
                            <div class="text-center">
                                <h1 style="font-weight: bold;font-family: open sans,sans-serif;font-size: 30px;">Tous les types</h1>
                            </div>
                        </div>



                        <div class="row mt-2" *ngFor="let ListCategorie  of  ListCategories">



                            <div class="row" *ngFor="let family of  ListCategorie.listFamily">
                                <!--<h6 class="mt-1">{{family.name}}</h6>-->


                                <div class="row" *ngIf="family.listType.length != 0">
                                    <ul class="breadcrumb">
                                        <li><a style="cursor: pointer;" (click)="gotoDepotComponent()">{{this.DepotName}}</a></li>
                                        <li><a style="cursor: pointer;" (click)="gotoCategorieComponent(ListCategorie.name)">{{ListCategorie.name}}</a></li>
                                        <li><a style="color: black !important;">{{family.name}}</a></li>

                                    </ul>
                                    <div class="col" class="boxDiv text-center col-lg-2 m-4 p-0" *ngFor="let type of  family.listType">
                                        <a (click)="gotoTypeComponent(this.DepotName,ListCategorie.name,family.name,type.name)">

                                            <div>
                                                <img alt="image" width="100%" height="80px" src='{{ type.img }}' class="image" />

                                            </div>
                                            <span style="margin-bottom:25px;align-self: flex-center; font-size: 15px;margin-top: 10px;">{{type.name}}</span>

                                        </a>
                                    </div>
                                </div>





                            </div>





                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>