<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#" onClick="return false;">
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span (click)="gotoPreviousPage()"><mat-icon style="font-size: 45px; color: rgb(50, 76, 228); cursor: pointer;">reply</mat-icon></span>
                        </div>
                        <div class="text-center mt-3">
                            <h1>Choisissez le Type</h1>
                        </div>

                        <div class="row mt-5">

                            <a routerLink="alimentaire" class="col-lg-4">

                                <div class="boxDiv text-center">
                                    <!--<img alt="image" width="80px" height="80px" src="https://www.clipartmax.com/png/middle/302-3023641_home-icons-grey-home-icon-png-grey.png" class="image" />-->

                                    <span><mat-icon style="color: rgb(12, 12, 12);font-size: 60px; margin-right: 30px; margin-top: 15px;">battery_full</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;color: rgb(12, 12, 12);">Javel</span>
                                </div>


                            </a>


                            <a routerLink="exterieur" class="col-lg-4">
                                <div class="boxDiv text-center">

                                    <span><mat-icon style="color: rgb(12, 12, 12);font-size: 60px; margin-right: 30px; margin-top: 15px;">bubble_chart</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;color: rgb(12, 12, 12);">Lessive pour le ligne</span>
                                </div>
                            </a>


                            <a routerLink="exterieur" class="col-lg-4">
                                <div class="boxDiv text-center">

                                    <span><mat-icon style="color: rgb(12, 12, 12);font-size: 60px; margin-right: 30px; margin-top: 15px;">kitchen</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;color: rgb(12, 12, 12);">Vide</span>
                                </div>
                            </a>

                            <a routerLink="exterieur" class="col-lg-4">
                                <div class="boxDiv text-center">

                                    <span><mat-icon style="color: rgb(12, 12, 12);font-size: 60px; margin-right: 30px; margin-top: 15px;">kitchen</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;color: rgb(12, 12, 12);">Vide</span>
                                </div>
                            </a>




                            <a routerLink="shop" class="col-lg-4">

                                <div class="boxDiv2 text-center">

                                    <span><mat-icon style="color: rgb(255, 254, 254);font-size: 60px; margin-right: 30px; margin-top: 15px;">view_module</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;color: rgb(255, 254, 254)">Tous</span>
                                </div>


                            </a>




                        </div>

                        <div class="text-center mt-5">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>