<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a>
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <!--href="#" onClick="return false;"-->
                            <a>
                               Stock
                            </a>

                        </li>
                        <li class="breadcrumb-item bcrumb-3">
                            <a style=" cursor: pointer;" (click)="gotoAllDepotComponent()">
                               Gestion de stock
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-3">

                            Tous les articles

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span (click)="gotoPreviousPage()"><mat-icon style="font-size: 55px; color: rgb(50, 76, 228); cursor: pointer;">reply</mat-icon></span>
                        </div>
                        <div class="text-center">
                            <h1>Tous les articles</h1>
                        </div>


                        <div class="row mt-2" *ngFor="let CategorieArticle of  CategorieArticles">


                            <div class="row">

                                <div *ngFor="let catego of  CategorieArticle.listCategorys">

                                    <!--<ul class="breadcrumb">
                                        <li><a style="cursor: pointer;" (click)="gotoDepotComponent()">{{this.DepotName}}</a></li>
                                        <li><a style="cursor: pointer;" (click)="gotoCategorieComponent(catego.name)">{{catego.name}}</a></li>

                                        <li><a style="color: black !important;">Articles</a></li>

                                    </ul>-->

                                    <div *ngFor="let family of  catego.listFamily">
                                        <div *ngFor="let type of  family.listType">
                                            <ul class="breadcrumb">
                                                <li><a style="cursor: pointer;" (click)="gotoDepotComponent()">{{this.DepotName}}</a></li>
                                                <li><a style="cursor: pointer;" (click)="gotoCategorieComponent(catego.name)">{{catego.name}}</a></li>
                                                <li><a style="cursor: pointer;" (click)="gotoFamilyComponent(family.name)">{{family.name}}</a></li>
                                                <!--<li><a style="cursor: pointer;" (click)="gotoTypeComponent(type.name,family.name)">{{type.name}}</a></li>-->
                                                <li><a style="color: black !important;">{{type.name}}</a></li>
                                            </ul>
                                            <div *ngFor="let article of  type.listArticle" style="background-color: rgb(188, 217, 226);" class="col-lg-12 d-flex  align-items-center justify-content-between mb-2  pt-3 p-2 mr-5 ml-5 rounded ">

                                                <p>{{article.name}}</p>
                                                <p>Marque: {{article.marque}}</p>
                                                <span>
                                                            <mat-icon>shopping_cart</mat-icon>
                                                            <p>{{article.quantity}}kg</p> 
                                                    </span>

                                            </div>

                                        </div>

                                    </div>



                                </div>
                            </div>



                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>