<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">

                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a>
                                <i class="fas fa-home"></i>Accueil
                            </a>
                        </li>

                        <li class="breadcrumb-item bcrumb-3">
                            <a style=" cursor: pointer;" (click)="gotoPreviousPage()">
                                Stock
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-3">
                            <a style=" cursor: pointer;" (click)="gotoPreviousPage()">
                                Gestion de stock
                            </a>
                        </li>
                        <li class="breadcrumb-item bcrumb-3">

                            toutes les articles

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <span (click)="gotoPreviousPage()"><mat-icon style="font-size: 55px; color: rgb(50, 76, 228); cursor: pointer;">reply</mat-icon></span>
                        </div>
                        <div class="text-center">
                            <h1>Tous les articles</h1>
                        </div>


                        <div class="row mt-2" *ngFor="let depoArticle of  DepotArticles">


                            <div class="row">

                                <ul style="margin-left: 12px;" class="breadcrumb">
                                    <li><a style="cursor: pointer;" (click)="gotoDepotComponent(depoArticle.name)">{{depoArticle.name}}</a></li>
                                    <li><a style="color: black !important;">Articles</a></li>

                                </ul>

                                <div *ngFor="let listcatego of  depoArticle.listCategorys">
                                    <div *ngFor="let family of  listcatego.listFamily">
                                        <div *ngFor="let type of  family.listType">
                                            <div style="background-color: rgb(188, 217, 226);" class="col-lg-12 d-flex  align-items-center justify-content-between mb-2  pt-3 p-2 mr-5 ml-5 rounded " *ngFor="let article of  type.listArticle">
                                                <p>{{article.name}}</p>
                                                <p>Marque: {{article.marque}}</p>
                                                <span>
                                                        <mat-icon>shopping_cart</mat-icon>
                                                        <p>{{article.quantity}}kg</p> 
                                                    </span>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>



                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>