.mat-card:not([class*=mat-elevation-z]) {
   box-shadow: unset;
   margin-left: -11px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
   display: block;
    height: 35px; 
   -webkit-tap-highlight-color: transparent;
   width: 100%;
   padding: 3px;
}

.underline{
   text-decoration: underline ;
   text-underline-position: under;
   text-underline-offset: 2px; 
   text-decoration-color: rgb(73, 66, 177);
   text-decoration-thickness: 0.1em;
   text-decoration-thickness: 3px;
}




.tarif_details{
   display: flex; 
   flex-direction: column;
   background-color: white; 
   width: 70%; 
   border-radius: 8px; 
   margin-left: 5px;
   color: rgb(31, 31, 31);
   padding: 6px;
   }


.menu1{
color:rgb(255, 255, 255);
margin-top: 5px;
 margin-bottom: 8px;
width: 100%;
background-color:rgb(255, 172, 49);
font-family:system-ui;
border-radius: 10px;
padding-left:15px;
}


.hiddenMenu1{
   color:rgb(255, 255, 255);
   margin-top: 5px;
    margin-bottom: 8px;
   width: 100%;
   background-color:rgb(190, 190, 190);
   font-family:system-ui;
   border-radius: 10px;
   padding-left:15px;
   }

   .menu2{
      color:rgb(255, 255, 255);
      margin-top: 5px; margin-bottom: 5px;
      width: 100%;
      background-color:rgb(255, 172, 49);
      font-family:system-ui;
      border-radius: 10px;
      padding-left:15px;
     }

    .supp_mobile-xs{
       
     }



/* Mobile xs */ 
@media (max-width: 420px) {
    .mat-list .mat-list-item {
        width: 200px !important;
        margin-right: 25px;
      }
   


       .menu1{
         color:rgb(255, 255, 255);
         margin-top: 5px;
          margin-bottom: 8px;
         width: 80% !important;
         background-color:rgb(255, 172, 49);
         font-family:system-ui;
         border-radius: 5px;
         padding:1px;
          font-size: 8px !important;
         }
         
         
         .hiddenMenu1{
            color:rgb(255, 255, 255);
            margin-top: 5px;
             margin-bottom: 8px;
            width: 80% !important;
            background-color:rgb(190, 190, 190);
            font-family:system-ui;
            border-radius: 5px;
            padding:1px;
             font-size: 8px !important;
            }
         
         .menu2{
          color:rgb(255, 255, 255);
          margin-top: 5px; margin-bottom: 5px;
          width: 80%;
          background-color:rgb(255, 172, 49);
          font-family:system-ui;
          border-radius: 5px;
          padding:1px;
          font-size: 8px !important;
         }



       .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        display: block;
        height: 48px;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
        padding: 0;
        margin-left: -30px;
    }

    mat-card-title{
       
        width: 120px !important;
    }

    .annuler_mobile-xs{
     
      margin-bottom:8px !important;
    }

    .supp_mobile-xs{
      margin-bottom:15px !important;
    }
      
}


@media (max-width: 767px) { 

   .mat-list .mat-list-item {
      width: 200px !important;
      margin-right: 25px;
    }
  
   .menu1{
      color:rgb(255, 255, 255);
      margin-top: 5px;
       margin-bottom: 8px;
      width: 83% !important;
      background-color:rgb(255, 172, 49);
      font-family:system-ui;
      border-radius: 5px;
      padding:1px;
       font-size: 11px !important;
      }
      
      
      .hiddenMenu1{
         color:rgb(255, 255, 255);
         margin-top: 5px;
          margin-bottom: 8px;
         width: 83% !important;
         background-color:rgb(190, 190, 190);
         font-family:system-ui;
         border-radius: 5px;
         padding:1px;
          font-size: 11px !important;
         }
      
      .menu2{
       color:rgb(255, 255, 255);
       margin-top: 5px; margin-bottom: 5px;
       width: 83%;
       background-color:rgb(255, 172, 49);
       font-family:system-ui;
       border-radius: 5px;
       padding:1px;
       font-size: 11px !important;
      }



    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
     display: block;
     height: 48px;
     -webkit-tap-highlight-color: transparent;
     width: 100%;
     padding: 0;
     margin-left: -30px;
 }

 mat-card-title{
       
   width: 120px !important;
}
   

}


