

.underline{
    text-decoration: underline ;
    text-underline-position: under;
    text-underline-offset: 2px; 
    text-decoration-color: rgb(73, 66, 177);
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 3px;
}

.mat-list-base.inline-list {
    display: auto;
    
}


.mat-card:not([class*=mat-elevation-z]) {
   box-shadow: unset;
   margin-left: -11px;
}