.coursesHeader {
    display: flex;
    justify-content: space-between;
}

.courseItem {
    background-color: #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* Mobile & Tablet Rules */

@media (max-width: 767px) {
    h5 {
        font-size: 10px !important;
    }
    mat-icon {
        font-size: 18px !important;
    }
}

$color-outline: rgb(183, 182, 185);
mat-form-field {
    // to change border color
     ::ng-deep .mat-form-field-outline {
        color: $color-outline !important;
    }
    // to change label color
     ::ng-deep .mat-form-field-label {
        color: $color-outline !important;
    }
}


/* /////////// start custom pagination ///////// */

p {
    font-family: Lato;
}

.custom-pagination .page-number {
    display: inline-block;
    /* padding: 5px 12px; */
    background: transparent;
    margin: 0px 4px;
    border-radius: 5px;
    color: black;
}

.page-number.current {
    background: #2A303A !important;
    /* border: 2px solid #458873; */
}

.page-number span {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 18px;
    cursor: pointer;
    color: #fff
}

.pagination-previous,
.pagination-next {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.disable {
    pointer-events: none;
}


/* /////////// end custom pagination ///////// */

.btn-group button {
    cursor: pointer;
    /* Float the buttons side by side */
    width: 20px;
    font-size: 9px !important;
    height: 70px !important;
}