
.mat-list-base.inline-list {
    display: auto;
    
}


.mat-card:not([class*=mat-elevation-z]) {
   box-shadow: unset;
   margin-left: -11px;
}

.lisOfmenu{
 color:rgb(255, 255, 255);
 margin-top: 5px; margin-bottom: 5px;
 width: 50%;
 background-color:rgb(255, 172, 49);
 font-family:system-ui;
 border-radius: 10px;
 padding-left:15px;
}