.inventoriesHeader {
    display: flex;
    justify-content: space-between;
}

.inventoryItem {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
}


/* cell number */

.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px;
}