<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a> <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                        <li class="breadcrumb-item bcrumb-3">Inventaires</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card" style="height: 100%">
                    <div class="card-body" style="padding: 30px">
                        <div class="inventoriesHeader row">
                            <h3 class="col" style="margin: 0; padding-bottom: 20px">
                                Liste des inventaires
                            </h3>
                            <div class="col" style="display: flex; justify-content: flex-end">
                                <button mat-fab color="primary" aria-label="Example icon button with a menu icon" style="margin-right: 10px" (click)="showFiltersAction()" *ngIf="!loading && inventaires.length">
                    <mat-icon>filter_list</mat-icon>
                  </button>
                                <button mat-fab color="primary" routerLink="add" aria-label="Example icon button with a menu icon">
                    <mat-icon>add</mat-icon>
                  </button>
                            </div>
                        </div>
                        <div style="padding: 30px" *ngIf="loading">
                            <mat-spinner style="margin: 0 auto"></mat-spinner>
                        </div>

                        <!--- start >>> filters -->

                        <form style="padding-top: 30px" class="row" [formGroup]="filterForm" *ngIf="showFilters">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field style="width: 100%" class="mb-3" appearance="outline">
                                        <mat-label>De</mat-label>
                                        <input matInput formControlName="from" [matDatepicker]="picker1" (dateChange)="deepFilter()" />
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-error *ngIf="">
                                            La date de début est <strong>invalide</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field style="width: 100%" class="mb-3" appearance="outline">
                                        <mat-label>À</mat-label>
                                        <input matInput formControlName="to" [matDatepicker]="picker2" (dateChange)="deepFilter()" />
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-error *ngIf="">
                                            La date de fin est <strong>invalide</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field style="width: 100%" class="mb-3" appearance="outline">
                                        <mat-label>Créateur</mat-label>
                                        <input matInput formControlName="person" type="text" [value]="" (change)="deepFilter()" />
                                        <mat-icon matSuffix>person</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field style="width: 100%" class="mb-3" appearance="outline">
                                        <mat-label>Désignation</mat-label>
                                        <input matInput formControlName="label" type="text" [value]="" (change)="deepFilter()" />
                                        <mat-icon matSuffix>label_important</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <!--- end >>> filters -->

                        <div *ngIf="!loading && !filteredList.length" style="
                  border-radius: 10px;
                  padding: 100px;
                  margin-top: 20px;
                  text-align: center;
                  font-weight: 100;
                  background-color: rgb(0 0 0 / 4%);
                ">
                            <h3 style="font-weight: 100">Aucun inventaire</h3>
                        </div>
                        <div [ngStyle]="{
                  'margin-top': showFilters ? '0' : '40px'
                }" *ngIf="!loading">
                            <div *ngFor="let item of filteredList | paginate: config" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px; cursor: pointer">
                                <mat-card class="inventoryItem row">
                                    <div class="col" style="display: flex; align-items: center; padding: 10px 0">
                                        <mat-icon>label_important</mat-icon>
                                        <h5 style="margin: 0">{{ item.name }}</h5>
                                    </div>
                                    <div class="col" style="display: flex; align-items: center; padding: 10px 0">
                                        <mat-icon matListIcon>person</mat-icon>
                                        <h5 style="margin: 0">{{ item.clientID.first_name }}</h5>
                                    </div>
                                    <div class="col" style="display: flex; align-items: center; padding: 10px 0">
                                        <mat-icon matListIcon>insert_invitation</mat-icon>
                                        <h5 style="margin: 0">
                                            {{ item.date | date: "dd/LL/YY":"fr" }}
                                        </h5>
                                    </div>
                                    <div class="col" style="display: flex; align-items: center; padding: 10px 0">
                                        <mat-icon svgIcon="check" *ngIf="!item.isDraft"></mat-icon>
                                        <h5 style="margin: 0; color: green; padding-left: 10px" *ngIf="!item.isDraft">
                                            Validé
                                        </h5>
                                        <mat-icon svgIcon="draft" *ngIf="item.isDraft"></mat-icon>
                                        <h5 style="margin: 0; color: red; padding-left: 10px" *ngIf="item.isDraft">
                                            Brouillon
                                        </h5>
                                    </div>
                                    <div class="col" style="
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                      ">
                                        <button mat-stroked-button style="flex-grow: 1; margin-right: 5px" [disabled]="!item.isDraft" [routerLink]="['edit', item._id]">
                        <mat-icon aria-label="Edit">edit </mat-icon>
                      </button>
                                        <button mat-stroked-button color="warn" style="flex-grow: 1" [disabled]="!item.isDraft" (click)="removeInventaireAction(item._id)">
                        <mat-icon>delete </mat-icon>
                      </button>
                                    </div>
                                </mat-card>
                            </div>
                            <pagination-template class="pagination" class="text-center" #p="paginationApi" [id]="config.id" (pageChange)="config.currentPage = $event" *ngIf="filteredList.length > config.itemsPerPage">
                                <div class="custom-pagination" style="display: flex; justify-content: center">
                                    <button mat-fab color="primary" (click)="p.previous()" [disabled]="p.isFirstPage()" style="margin: 5px">
                      <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                                    <button mat-fab color="primary" [disabled]="p.isLastPage()" (click)="p.next()" style="margin: 5px">
                      <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                                </div>
                            </pagination-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>