/* /////////// start custom pagination ///////// */

.disable {
    pointer-events: none;
}

.newarticle {
    background-color: red;
}


/* /////////// end custom pagination ///////// */

@media (max-width: 767px) {
    .mat-card {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        position: relative;
        padding: 16px;
        border-radius: 4px;
    }
    mat-form-field {
        width: 90% !important;
    }
    .actions {
        font-size: 8px !important;
    }
    .icon {
        margin-top: 1px;
        font-size: 19px !important;
    }
    .mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
        margin-left: 0;
        margin-right: 0px;
        padding-left: 3%;
    }
}