<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <!--href="#" onClick="return false;"-->
                            <a>
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                        <li class="breadcrumb-item bcrumb-3">Courses</li>
                        <li class="breadcrumb-item bcrumb-3">{{ id }}</li>
                        <li class="breadcrumb-item bcrumb-3">Modifier</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card" style="height: 100%" style="margin-bottom: 30px">
                    <div class="card-body">
                        <div style="display: flex;justify-content: space-between;margin-bottom: 20px;">
                            <div style="display: flex; align-items: center">
                                <mat-icon matListIcon>shopping_cart</mat-icon>
                                <h5 style="margin: 0">Course {{ Course.code }}</h5>
                            </div>
                            <div style="display: flex;align-items: center;color: rgb(0 0 0 / 20%);">
                                <mat-icon matListIcon>monetization_on</mat-icon>
                                <h5 *ngIf="showOldPrice" style="margin: 0 0 0 5px">{{ Course.price }} DT</h5>
                                <h5 *ngIf="!showOldPrice" style="margin: 0 0 0 5px">{{ this.totalPrice}} DT</h5>
                            </div>
                        </div>
                        <form [formGroup]="addCourseForm">
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="mb-3" appearance="outline">
                                        <mat-label>Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="date" required [(ngModel)]="Course.date" />
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="!addCourseForm.get('date').hasError('matDatepickerParse') && addCourseForm.get('date').hasError('required')">
                                            La date de la course est <strong>obligatoire</strong>
                                        </mat-error>
                                        <mat-error *ngIf="addCourseForm.get('date').hasError('matDatepickerParse')">
                                            La date de la course est <strong>invalide</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="mb-3" appearance="outline">
                                        <mat-label>Personne</mat-label>
                                        <input matInput formControlName="person" type="text" [value]="Course.clientID.first_name" />
                                        <mat-icon matSuffix>person</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="showAddNewArticle">
                            <p>
                                Pour ajouter un nouvel article connu par le système tapez quelques lettres dans la zone de recherche <br /> Si vous ne trouvez pas, vous pouvez ajouter un nouvel article inconnu
                            </p>
                            <div style="display: flex; justify-content: space-between" class="row">
                                <!--<form class="col">
                                    <mat-form-field class="mb-3" appearance="outline">
                                        <mat-label>Search</mat-label>
                                        <input matInput type="search" #query (keyup)="searchForArticles(query.value)" />
                                        <mat-icon matPrefix>search</mat-icon>
                                    </mat-form-field>
                                </form>-->
                                <form class="col">

                                    <mat-form-field class="mb-3" appearance="outline">
                                        <mat-label>Search</mat-label>
                                        <input matInput type="text" [matAutocomplete]="auto" #query (keyup)="search(query.value)" [value]='this.article'>
                                        <mat-icon matSuffix>local_grocery_store</mat-icon>
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                        </mat-autocomplete>
                                    </mat-form-field>

                                </form>
                                <div class="col">
                                    <button mat-raised-button color="primary" style="margin-right: 10px; margin-bottom: 10px">
                                      <mat-icon>add</mat-icon>
                                      Nouvel article inconnu
                                    </button>
                                    <button mat-raised-button (click)="hideNewArticle()">
                                      <mat-icon>clear</mat-icon>
                                      annuler
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="margin-bottom: 10px" *ngFor="let article of searchArticles | paginate: { itemsPerPage: 3, currentPage: page , totalItems:totalLength }">
                                    <mat-card class="example-card" style="border: 3px solid rgb(0 0 0 / 12%)">
                                        <mat-card-header style="justify-content: space-between">
                                            <mat-card-title>{{ article.name }}</mat-card-title>
                                            <img mat-card-md-image [src]="article.img" alt="article image" />
                                        </mat-card-header>
                                        <mat-card-content>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                                        <mat-icon svgIcon="thermometer"></mat-icon>
                                                        <h5 style="margin: 0">{{ kg }}</h5>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                                        <h5>Dépot</h5>
                                                        <h5 style="margin: 0">{{article.idType.idFamily.idCategory.idDepot.name}}</h5>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                                        <h5>Catégorie</h5>
                                                        <h5 style="margin: 0">
                                                            {{article.idType.idFamily.idCategory.name}}
                                                        </h5>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                                        <h5>Famille</h5>
                                                        <h5 style="margin: 0">
                                                            {{article.idType.idFamily.name}}
                                                        </h5>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div style="display: flex;align-items: center;justify-content: space-between;">
                                                        <h5>Type</h5>
                                                        <h5 style="margin: 0">
                                                            {{article.idType.name}}
                                                        </h5>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div *ngIf="article.isHide" style="padding-top: 10px">
                                                <form [formGroup]="addArticleToCourseForm">
                                                    <div class="row">
                                                        <div class="col">
                                                            <mat-form-field class="mb-3" appearance="outline" style="width: 100%">
                                                                <mat-label>Quantité</mat-label>
                                                                <input matInput formControlName="quantity" type="number" class="example-right-align" [value]="quantity" />
                                                                <mat-icon matSuffix aria-hidden="false" svgIcon="quantity"></mat-icon>
                                                                <mat-error *ngIf="addArticleToCourseForm.get('quantity').hasError('required')">
                                                                    La quantité de l'article est
                                                                    <strong>obligatoire</strong>
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field class="mb-3" appearance="outline" style="width: 100%">
                                                                <mat-label>Prix unitaire TTC</mat-label>
                                                                <input formControlName="price" matInput type="number" class="example-right-align" [value]="price" class="example-right-align" />
                                                                <span matSuffix>DT</span>
                                                                <span matPrefix><mat-icon matPrefix>monetization_on</mat-icon></span>
                                                                <mat-error *ngIf="addArticleToCourseForm.get('price').hasError('required')">
                                                                    Le prix de l'article est
                                                                    <strong>obligatoire</strong>
                                                                </mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </mat-card-content>
                                        <mat-card-actions align="end">
                                            <button mat-stroked-button (click)="showAddArticle(article._id)" *ngIf="!article.isHide">
                                               <mat-icon>add</mat-icon>Ajouter
                                            </button>
                                            <button mat-stroked-button (click)="closeAddArticle(article._id)" *ngIf="article.isHide">
                                               <mat-icon>clear</mat-icon>Annuler
                                            </button>
                                            <button style="margin-left: 10px" mat-raised-button color="primary" *ngIf="article.isHide" (click)="addArticleToCourse(article)">
                                               <mat-icon matSuffix>add_shopping_cart</mat-icon>
                                                 Ajouter à la course
                                            </button>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>
                            </div>
                            <!--previousLabel="" nextLabel=""-->
                            <pagination-controls class="text-center" (pageChange)="page = $event" *ngIf="searchArticles" previousLabel="précédente" nextLabel="suivant"></pagination-controls>

                            <mat-divider style="margin: 20px 0; width: 30%"></mat-divider>
                        </div>
                        <div>
                            <h5>Articles</h5>
                            <div class="row" style="padding: 10px">
                                <div style="margin: 20px 0; text-align: center" *ngIf="showAddNewArticle && !course.articles.length">
                                    Aucun article n'a été ajouté
                                </div>
                                <div class="row">
                                    <div class="col" *ngIf="!showAddNewArticle" style="padding-bottom: 10px">
                                        <mat-card class="example-card" style="background-color: #eee;height: 365px;display: flex;justify-content: center;align-items: center;" (click)="addNewArticle()">
                                            <div style="text-align: center">
                                                <mat-icon style="transform: scale(2)">add</mat-icon>
                                            </div>
                                        </mat-card>
                                    </div>
                                    <div class="col" style="padding-bottom: 10px" *ngFor="let article of Course.articleList">
                                        <mat-card class="example-card" style="border: 3px solid rgb(0 0 0 / 12%)">
                                            <mat-card-header style="justify-content: space-between">
                                                <mat-card-title>{{ article.name }}</mat-card-title>
                                                <mat-card-subtitle style="display: flex">
                                                    <mat-icon>monetization_on</mat-icon>
                                                    {{ article.quantity * article.price }} DT
                                                </mat-card-subtitle>
                                                <img mat-card-md-image [src]="article.image" alt="article image" />
                                            </mat-card-header>
                                            <mat-card-content>
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <!--<div style="display: flex;align-items: center;justify-content: space-between;">
                                                            <mat-icon svgIcon="quantity"></mat-icon>
                                                            <h5 style="margin: 0">{{ article.quantity }}</h5>
                                                        </div>-->

                                                        <form style="display: flex;align-items: center;justify-content: space-between;">

                                                            <mat-form-field class="col" appearance="outline">

                                                                <input [readonly]="article.isHide" style="margin: 0" matInput type="text" name="quantity" (keyup)="checkInput($event.target.value)" [value]='article.quantity'>
                                                                <mat-icon matSuffix svgIcon="quantity"></mat-icon>
                                                            </mat-form-field>


                                                        </form>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div style="display: flex;align-items: center;justify-content: space-between;">
                                                            <mat-icon svgIcon="thermometer"></mat-icon>
                                                            <h5 style="margin: 0">{{ article.unity }}</h5>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <!--<div style="display: flex;align-items: center;justify-content: space-between;">
                                                            <mat-icon>monetization_on</mat-icon>
                                                            <h5 style="margin: 0">
                                                                {{ article.price }}DT/{{ article.unity }}
                                                            </h5>
                                                        </div>-->

                                                        <form style="display: flex;align-items: center;justify-content: space-between;">

                                                            <mat-form-field class="col" appearance="outline">

                                                                <input [readonly]="article.isHide" style="margin: 0" matInput type="text" name="price" (keyup)="checkInput2($event.target.value)" [value]='article.price'>
                                                                <mat-icon matSuffix>monetization_on</mat-icon>
                                                            </mat-form-field>

                                                        </form>
                                                    </li>
                                                </ul>
                                            </mat-card-content>
                                            <mat-card-actions *ngIf="!article.isHide">
                                                <button mat-stroked-button color="warn" (click)="removeArticle(article)">
                                                  <mat-icon>delete</mat-icon>Supprimer
                                                </button>
                                                <button mat-stroked-button (click)="updateArticle(article)">
                                                  <mat-icon>edit</mat-icon>Modifier
                                                </button>
                                            </mat-card-actions>
                                            <div *ngIf="article.isHide" style="display:flex;justify-content: flex-end; cursor: pointer;" (click)="editArticle(article)">
                                                <mat-icon>edit</mat-icon>
                                            </div>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                            <div style="display: flex; align-items: flex-end">
                                <button mat-raised-button routerLink="../..">
                                  <mat-icon>clear</mat-icon>
                                  Annuler
                                </button>
                            </div>
                            <div style="display: flex;flex-direction: column;align-items: center;color: rgb(0 0 0 / 20%);">
                                <div style="display: flex; align-items: center">
                                    <mat-icon matListIcon>monetization_on</mat-icon>
                                    <h5 *ngIf="showOldPrice" style="margin: 0 0 0 5px">{{ Course.price }} DT</h5>
                                    <h5 *ngIf="!showOldPrice" style="margin: 0 0 0 5px">{{ this.totalPrice}} DT</h5>
                                </div>
                                <button style="margin-top: 10px" mat-raised-button color="primary" *ngIf="!showOldPrice" (click)="addCourse()">
                                  <mat-icon>done</mat-icon>
                                  Confirmer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>