<!--
<div class="row">
    <div class="col-md-11">

    </div>
    <div class="col-md-1">
        <button mat-raised-button color="warn">Annuler</button>
    </div>
</div>

-->

<div class="container">
    <div class="row">
        <div class="col-md-12" class="text-end">
            <!--<button mat-raised-button color="warn">Annuler</button>-->
            <mat-icon mat-dialog-close style="color: red; cursor: pointer;">highlight_off</mat-icon>
        </div>
    </div>


    <div class="row mt-5">

        <a routerLink="reservation/test" mat-dialog-close class="col-lg-4">

            <div class="boxDiv text-center">
                <!--<img alt="image" width="80px" height="80px" src="https://www.clipartmax.com/png/middle/302-3023641_home-icons-grey-home-icon-png-grey.png" class="image" />-->
                <mat-icon style="color: rgb(24, 23, 23); font-size: 80px; margin-right:50px; margin-bottom: 120px;">home</mat-icon>
            </div>


        </a>

        <div class="col-lg-4">
            <div class="boxDiv">
                <mat-icon style="color: rgb(24, 23, 23); font-size: 70px; margin-right:50px; margin-left:76px; margin-bottom: 120px;">local_grocery_store</mat-icon>

            </div>

        </div>
        <div class="col-lg-4">
            <div class="boxDiv">
                <mat-icon style="color: rgb(24, 23, 23); font-size: 70px; margin-right:50px; margin-left:76px; margin-bottom: 120px;">directions_walk</mat-icon>

            </div>

        </div>


    </div>
</div>