<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Stock</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="#" onClick="return false;">
                                <i class="fas fa-home"></i>Accueil</a>
                        </li>
                        <li class="breadcrumb-item active">Stock</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-3">
                            <h1>Choisissez le Depot</h1>
                        </div>
                        <div class="row mt-5">

                            <a routerLink="economat" mat-dialog-close class="col-lg-4">

                                <div class="boxDiv text-center">
                                    <!--<img alt="image" width="80px" height="80px" src="https://www.clipartmax.com/png/middle/302-3023641_home-icons-grey-home-icon-png-grey.png" class="image" />-->

                                    <span><mat-icon style="color: rgb(24, 23, 23);font-size: 60px; margin-right: 30px; margin-top: 15px;">home</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;">Economat</span>
                                </div>


                            </a>


                            <a routerLink="exterieur" mat-dialog-close class="col-lg-4">
                                <div class="boxDiv3 text-center">

                                    <span><mat-icon style="color: rgb(24, 23, 23);font-size: 60px; margin-right: 30px; margin-top: 15px;">local_drink</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;">Buanderie</span>
                                </div>
                            </a>

                            <a routerLink="shop" mat-dialog-close class="col-lg-4">

                                <div class="boxDiv2 text-center">

                                    <span><mat-icon style="color: rgb(24, 23, 23);font-size: 60px; margin-right: 30px; margin-top: 15px;">local_grocery_store</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;">Shop</span>
                                </div>


                            </a>

                            <a routerLink="shop" class="col-lg-4 offset-lg-4 col-sm-12">

                                <div class="boxDiv4 text-center">

                                    <span><mat-icon style="color: rgb(255, 253, 253);font-size: 60px; margin-right: 30px; margin-top: 15px;">view_module</mat-icon></span>
                                    <span style="margin-bottom: 42px;padding-bottom: 0px;align-self: flex-center; font-size: 21px;color: rgb(255, 253, 253)">Tous</span>
                                </div>


                            </a>


                        </div>

                        <div class="text-center mt-5">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>