img {
    float: left;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .row {
        --bs-gutter-x: 0rem !important;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
    }
    .visible {
        display: none;
    }
    .img {
        float: none !important;
        width: 100px !important;
        height: 90px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 0%;
        margin-top: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible2 {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible2 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .visible2 {
        display: none;
    }
}