img {
    float: left;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .row {
        --bs-gutter-x: 0rem !important;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
    }
    .visible {
        display: none;
    }
}