.example-card {
    background-color: rgb(0 0 0 / 12%);
    cursor: pointer;
}

.example-card:hover {
    background-color: rgb(0 0 0 / 20%);
}

img {
    border-top-right-radius: 12px 12px;
    border-top-left-radius: 12px 12px;
}

.panel-header {
    height: 80px;
    border-bottom: 1px solid rgb(0 0 0 / 14%),
}