
<h2 mat-dialog-title>Details</h2>


<div class="parent">
<!----------------start first row------>
<div class="first__row">

<form>
  <mat-form-field  appearance="outline">
    <mat-label>Chambre</mat-label>
    <input type="text" matInput  [(ngModel)]="data.title" name="title"
           >

    <mat-error>
      Please enter a valid room
    </mat-error>
    <mat-error>
       FirstName <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
 
<form style="margin-left:8px; margin-right: 8px;">
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Date d'arriver</mat-label>
    <input type="text" matInput  [(ngModel)]="data.start" name="start">
    <mat-error>
      Please enter a valid date
    </mat-error>
    <mat-error>
       FirstName <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<form>
  <mat-form-field appearance="outline">
    <mat-label>Date de départ</mat-label>
    <input type="text" matInput  [(ngModel)]="data.end" name="end">
    <mat-error>
      Please enter a valid date
    </mat-error>
    <mat-error>
       FirstName <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
</div>

<!----------end first row------------->

<!-----------start second row------------------------->

<div class="second__row">
<form>
  <mat-form-field  appearance="outline">
    <mat-label>Nom</mat-label>
    <input type="text" matInput  [(ngModel)]="data.firstName" name="firstName"
           >

    <mat-error>
      Please enter a valid Nom
    </mat-error>
    <mat-error>
       Nom <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<form style="margin-left:8px; margin-right: 8px;">
  <mat-form-field  appearance="outline">
    <mat-label>Prenom</mat-label>
    <input type="text" matInput  [(ngModel)]="data.lastName" name="lastName"
           >

    <mat-error>
      Please enter a valid prenom
    </mat-error>
    <mat-error>
       prenom <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<form >
  <mat-form-field  appearance="outline">
    <mat-label>Nombre des persones</mat-label>
    <input type="number" matInput  [(ngModel)]="data.nbp" name="nbp">

    <mat-error>
      Please enter a valid nb
    </mat-error>
    <mat-error>
     nb persone is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

</div>

<!--------------end second row---------------------->

<div class="second__row">
  <form>
    <mat-form-field  appearance="outline">
      <mat-label>Prix</mat-label>
      <input type="number" matInput  [(ngModel)]="data.price" name="price"
             >
  
      <mat-error>
        Please enter a valid price
      </mat-error>
      <mat-error>
         FirstName <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  
  <form style="margin-left:8px; margin-right: 8px;">
    <mat-form-field  appearance="outline">
      <mat-label>Nombre des nuitées</mat-label>
      <input type="number" matInput  [(ngModel)]="data.nb_days" name="nb_days"
             >

      <mat-error>
        Please enter a valid nb days
      </mat-error>
      <mat-error>
         LastName <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <form >
    <mat-form-field  appearance="outline">
      <mat-label>Nombre d'enfants</mat-label>
      <input type="number" matInput  [(ngModel)]="data.nb_children" name="nb_children">
  
      <mat-error>
        Please enter a valid email nb_children
      </mat-error>
      <mat-error>
        nb_children <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  
  </div>


<!--------------start thread row---------------------->

<div class="thread__row">
  <mat-radio-group labelPosition="after"   [(ngModel)]="isReserve" name="isReserve">
    <mat-radio-button    [value]="1">Reserver</mat-radio-button>
    <mat-radio-button style="margin-left:10px; margin-right: 10px;"      [value]="0">Occuper</mat-radio-button>
    <mat-radio-button    [value]="0">Fermer</mat-radio-button>
   
  </mat-radio-group>
</div>
<!--------------end thread row---------------------->

<!-----routerLink="reservation/29"------->
<!--------------start forty row---------------------->

<div class="forty__row">
  <mat-dialog-actions align="end">
    <button mat-stroked-button color="accent" mat-dialog-close (click)="gotoReservation()" >Reserver</button>
  <button mat-stroked-button color="warn" mat-dialog-close>Anuller</button>
  <button  mat-stroked-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Modifier</button>
  
  </mat-dialog-actions>
</div>


<!--------------end forty row---------------------->

</div>

  



  



