
<!--<h2 mat-dialog-title>Details</h2>-->

<div class="row">
  <div class="col-md-12 col-sm-12" >
      <div class="card" style="padding-left:18px;">
          <div class="card-body">
              <div class="row flex">
                 
                      <div class="row row-cols-4">
                          <div class="col">
                              <form>
                                 <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Nom</mat-label>
                                  <input matInput [(ngModel)]="data.firstName" name="firstName" required>
                                  <mat-icon matSuffix>face</mat-icon>
                              </mat-form-field>
                              </form>
                             
                          </div>
                          <div class="col">
                             <form>
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Prenom</mat-label>
                                  <input matInput [(ngModel)]="data.lastName" name="lastName" required>
                                  <mat-icon matSuffix>face</mat-icon>
                                </mat-form-field>
                             </form>
                             
                          </div>

                           <div class="col">
                             <form>
                               <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Date d’arrivée</mat-label>
                                  <input matInput    [matDatepicker]="picker"     [(ngModel)]="data.startFiltre" name="startFiltre"     required (dateChange)="checkDates($event)" [max]="this.maxDate" [min]="this.todayDate">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                             </form>
                              
                          </div>
                          <div class="col">
                            <form>
                               <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Date de départ</mat-label>
                                  <input matInput [matDatepicker]="picker2" [(ngModel)]="data.endFiltre" name="endFiltre"  required [min]="this.minDate" (dateChange)="calculDateDays($event)">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                            </form>
                             
                          </div>
                      </div> 

                      <div class="row">
                          <div class="col">
                            <form>
                               <mat-form-field   class="example-full-width" appearance="outline">
                                  <mat-label>Chambre</mat-label>
                                  <mat-select  [(ngModel)]="data.title" name="title" required>
                                      <mat-option *ngFor="let chambre of this.Chambres" [value]=chambre.name>
                                          {{chambre.name}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                            </form>
                             
                          </div>
                          <div class="col">
                            <form>
                              <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>numéro de téléphone</mat-label>
                                <input matInput  [(ngModel)]="data.number_phone"  name="number_phone" type="number" [min]="8"  required>
                    
                              </mat-form-field>
                            </form>
                            
                        </div>
                          <div class="col">
                             <form>
                               <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <mat-label>nombre d’adulte</mat-label>
                                  <input matInput   [(ngModel)]="data.nb_children" name="nb_children"  type="number" [min]="1" (change)="re_calculTotal($event)">
                                  <mat-icon matSuffix>group</mat-icon>
                               </mat-form-field>
                             </form>
                              
                          </div>
                          <div class="col">
                              <form>
                                 <mat-form-field class="example-full-width mb-3" appearance="outline">
                                  <mat-label>nombre d’enfant</mat-label>
                                  <input matInput   [(ngModel)]="data.number_adulte" name="number_adulte"    type="number" [min]="1" (change)="re_calculTotal($event)">
                                  <mat-icon matSuffix>group</mat-icon>
                                 </mat-form-field>
                              </form>
                             
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <form>
                               <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Tarifs</mat-label>
                                  <mat-select   [(ngModel)]="data.tarifType" name="tarifType"     required (selectionChange)="selectTaarifType($event)"   (selectionChange)="showMenu($event)"      >
                                      <mat-option [value]="'bas de saison'">
                                          Bas de saison
                                      </mat-option>
                                      <mat-option [value]="'haut de saison'">
                                          Haut de saison
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                            </form>
                             
                          </div>
                           
                          <div class="col text-center mt-3">
                               <mat-radio-group   labelPosition="after"    [(ngModel)]="roomTypeSelected" name="roomTypeSelected"    color="primary">
                                  <mat-radio-button [value]="1"  (change)="selectRoomType($event)" >Single</mat-radio-button>
                                  <mat-radio-button [value]="2"  (change)="selectRoomType($event)"   >Double</mat-radio-button>
                                 </mat-radio-group>
                              
                          </div>
                          <div class="col" id="my_div">
                            <form>
                               <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Extras</mat-label>
                                  <mat-select    [(ngModel)]="data.extra" name="extra"    (selectionChange)="selectExtraType($event)"   >
                                      <mat-option [value]="">
                                      </mat-option>
                                      <mat-option [value]="'lit adulte'">
                                          Lit adulte
                                      </mat-option>
                                      <mat-option [value]="'lit enfant'">
                                          Lit enfant
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                            </form>
                             
                          </div>

                      </div>

                      <div class="row">

                       <mat-accordion>
                       
                        <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              L'information sur les tarifs
                            </mat-panel-title>
                            <mat-panel-description>
                              
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                           <!--start expansion-->
                           <div  style="border-width: 5px solid; background-color: rgb(202, 230, 255);
                           border-radius: 5px;margin: 15px 0px 15px 0px "   class="row d-flex justify-content-between align-items-center  text-capitalize"
                          *ngIf="showMenuDetails" >
                          
                                <div class="col-6 mb-4 mt-2">
                                    tarif: {{tarifType}}
                                </div>
                                <div class="col-6 mb-4">
                                    type: {{roomName}}
                                </div>
                                <div class="col-6 mb-2">
                                    extras: {{extra}}
                                </div>
                                <div class="col-6 ">
                                    prix: {{ priceTotal }} DT
                                </div>
                           </div> 
                            <div class="row mt-3"  *ngIf="showMenuDetails">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body bg-gray text-white text-capitalize">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>prix chambre : {{this.RoomPrice}}</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p>nuits : {{this.Days}} </p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p>Total : {{this.priceTotal}} DT</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                           <!--end expansion---->

                        </mat-expansion-panel>
                      </mat-accordion>
                      </div>
                    
                      <div class="row mt-4">
                          <div class="col-md-6 col-lg-6">
                             <form>
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Commentaire</mat-label>
                                  <textarea matInput  [(ngModel)]="data.comment" name="comment"   ></textarea>
                                </mat-form-field>
                             </form>
                             
                          </div>
                       
                            <div class="col-md-6 col-lg-6  text-center">
                              <form>
                                <mat-radio-group labelPosition="after"  [(ngModel)]="selected"  name="selected"  color="primary">
      
                                  <mat-radio-button  (change)="selectedValue($event)"    [value]="1">Reserver</mat-radio-button>
                                 
                                  <mat-radio-button style="margin-left:10px; margin-right: 10px;" 
                                  (change)="selectedValue($event)"     [value]="2">Occuper</mat-radio-button>
                              
                                  <mat-radio-button   (change)="selectedValue($event)"    [value]="3">Fermer</mat-radio-button>
                                 
                                </mat-radio-group>
                              </form>
                              
                            </div>
                        




                      </div>
                     

                      <div class="row">
                        <div class="col-md-6 col-lg-6">
                          <form>
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Réclamation</mat-label>
                                <textarea matInput [(ngModel)]="data.remark" name="remark" ></textarea>
                              </mat-form-field>
                          </form>
                          
                        </div>
                    </div>

                   
                       <div style="display: flex; justify-content: space-between;">
                           <div>
                              <mat-dialog-actions align="end">
                                  
                                  <button mat-stroked-button color="warn" mat-dialog-close (click)="deleteReservation(data)">Supprimer</button>
  
                              </mat-dialog-actions>
                           </div>
                           <div>
                            <mat-dialog-actions align="end">
                                <button mat-raised-button color="warn" mat-dialog-close  >Annuler</button>
                                <button mat-stroked-button color="accent" mat-dialog-close (click)="gotoReservation()">Reserver</button>
                                <button  style="margin-left:10px" mat-raised-button color="primary"  [mat-dialog-close]="data" cdkFocusInitial   >Confirmer</button>    
                            </mat-dialog-actions>
                           </div>
                      </div>
                 
                  

              </div>

          </div>
      </div>
  </div>
</div>



  



