
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first__row{
    display: flex;
    flex-direction: row;
}

.second__row{
    display: flex;
    flex-direction: row;
}


.thread__row{
    display: flex;
    flex-direction: row;  
}

.forty__row{
    display: flex;
    flex-direction: row;  
}

.fullscreen-dialog {
    position: fixed;
  }




  .mat-dialog-content {
    display: flex;
    margin: 10px -24px;
    padding: 20px;
    max-height: 65vh;
    overflow: auto;
   //-webkit-overflow-scrolling: touch;
   background-color: red;

}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-right: 12px;
  }


.col{
 
    .mat-expansion-panel{
        background: red;
        width: 100%;
}
}


.lisOfmenu{
    color:rgb(255, 255, 255);
    margin-top: 5px; margin-bottom: 5px;
    width: 80%;
    background-color:rgb(255, 172, 49);
    font-family:system-ui;
    border-radius: 10px;
    padding-left:15px;
   }